@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(103, 103, 103);
    max-width: 1300px;
    margin: 1.8rem auto;
    padding: 0;
}

/*topo ________________________________________________________________________________*/

header{
    box-sizing: border-box; 
    padding: 10px;
}

.title {
    margin: 0 77% 2rem 3.5rem;
    padding: 10px;
    line-height: 2.8rem;
}


.title_1{
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: 700;
    font-style: normal;
}

.title_2 {
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
}

.aa {
    margin: 0;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-radius: 22px;
    overflow: hidden;
    height: 80px;
    background-color: rgb(17, 219, 125);
    

    
}
.aa2 {
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.bot_1 {
    padding: 4px 45px 4px 45px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.3s all;
}

.bot_1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 219, 125);
    transition: 0.3s all;
}

.bot_2 {
    padding: 4px 45px 4px 45px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.3s all;
}

.bot_2:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 219, 125);
    transition: 0.3s all;
}

.bot_3 {
    padding: 4px 30px 4px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.3s all;
}

.bot_3:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(46, 193, 124);
    transition: 0.3s all;
}

.btn_lgn {
    margin: 15px 80px 0 0;
    padding: 4px 40px 4px 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 219, 125);
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    border-radius: 10px;
    border: solid 2px rgb(255, 255, 255);
    transition: 0.3s all;
}

.btn_lgn:hover {
    margin: 15px 80px 0 0;
    padding: 4px 40px 4px 40px;
    background-color: rgb(200, 255, 230);
    border: solid 2px rgb(17, 219, 125);
    color: rgb(17, 219, 125);
    font-weight: 700;
    transition: 0.3s all;
}

/* main_______________________________________________________________________________________*/

.corpin {
    width: 100vh;
    height: 90vh;
    box-sizing: border-box; 
    margin: 2.8rem 3rem 0 6.5rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 60px;
    line-height: 10px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    line-height: 4.5rem;
    text-align: center
}

span{
    color: rgb(17, 219, 125);
}

hr {
    margin-top: 10px;
    width: 32rem;
    border: solid  3px rgb(68, 68, 68);
    border-radius: 2px;
}

.textin {
    margin-top: 2rem;
    line-height: 30px;
    max-width: 500px;
    text-indent: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

article{
    width: 100px;
}

.imagem {
    width: 450px;
    height: 550px;
    transition: 0.3s all;
}

.imagem:hover {
    width: 520px;
    height: 650px;
    transform: rotate(10deg);
    transition: 0.3s all;
}

@media (max-width: 1050px) {
    .aa {
        height: auto;
        flex-direction: row;
        align-items: center;
        padding: 30px;
    }

    .aa2 {
        flex-direction: column;
        align-items: center;
        margin: auto 6rem auto 6rem;
    }

    .btn_lgn {
        margin-right: 6rem;
    }

    .btn_lgn:hover {
        margin-right: 7rem;
    }

    .corpin {
        width: 70vh;
        height: 90vh;
        box-sizing: border-box; 
        margin: 2.8rem 0 0 20%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .imagem:hover {
        width: 520px;
        height: 650px;
        transform: rotate(0deg);
    }
}

@media (max-width: 700px) {
    .aa {
        padding: 30px;
        height: 250px;
        flex-direction: column;
        align-items: center;
        
    }

    .aa2 {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .btn_lgn {
        margin: 0;
    }

    .btn_lgn:hover {
        margin:0;
    }

    .corpin {
        width: 30vh;
        height: 90vh;
        box-sizing: border-box; 
        margin: 2.8rem 0 0 10%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .imagem:hover {
        width: 520px;
        height: 650px;
        transform: rotate(0deg);
    }
}